<ion-content class="mobileView">

  <div class="slides-introduction">
    <ion-slides pager="true" [options]="slideOpts" (ionSlideDidChange)="getIndex()">
      <ion-slide>

        <ion-row>
          <ion-col class="text-center" style="margin: 60px;">
            <img src="../../assets/images/logo.png" class="logo" />
          </ion-col>
        </ion-row>
        <h1>
          Design Amazing
        </h1>
        <h4>
          Onboarding Screens
        </h4>
        <p>Lorem Iosum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since 1500s</p>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col class="text-center" style="margin: 60px;">
            <img src="../../assets/images/logo.png" class="logo" />
          </ion-col>
        </ion-row>
        <h1>
          Explain how App
        </h1>
        <h4>
          Work in Fun Way
        </h4>
        <p>Lorem Iosum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since 1500s</p>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col class="text-center" style="margin: 60px;">
            <img src="../../assets/images/logo.png" class="logo" />
          </ion-col>
        </ion-row>
        <h1>
          Add Value to App
        </h1>
        <h4>
          Look & Feel
        </h4>
        <p>Lorem Iosum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since 1500s</p>
      </ion-slide>
    </ion-slides>
    <ion-button class="skip-button" fill="clear" (click)="skipButton()">skip</ion-button>
    <ion-button class="next-button" fill="clear" (click)="nextButton()" *ngIf="count < 2">next</ion-button>
    <ion-button class="next-button" fill="clear" (click)="finish()" *ngIf="count === 2">finish</ion-button>
  </div>

</ion-content>
