 .slides-introduction {
        ion-slides {
        --bullet-background:var(--ion-color-darkblue);
        --bullet-background-active: var(--ion-color-darkblue);
        background-color: #1aa062c2;
        color: white;
        }
        .intro-img1 {
        margin-top: 60px;
        width: 100%;
        }
        .intro-img2 {
        margin-top: 45px;
        width: 100%;
        }
        .intro-img3 {
        margin-top: 15px;
        width: 100%;
        }
        ion-slide {
        height: 90vh;
        display: block;

        }
        .skip-button {
        float: left;
        color: var(--ion-color-darkblue);
        text-transform: capitalize;
        font-size: 1rem;
        }
        .next-button{
        float: right;
        color: var(--ion-color-darkblue);
        text-transform: capitalize;
        font-size: 1rem;
        }
      .slide-text{
        position: absolute;
        bottom: 30px;
        padding: 0 30px;
        font-size: 14px;

        .slide-header{
          font-size: 26px;

        }
        .slide-subheader{
          font-size: 28px;
          font-weight: 700;
          margin: 0;
        }
        p{
          font-size: 16px;
        }
      }



      }
        .backImg1{
              background-image: url("~src/assets/svg/1.svg");
              background-repeat: no-repeat;
              background-size: cover !important;
        }

        .backImg2{
              background-image: url("~src/assets/svg/2.svg");
              background-repeat: no-repeat;
              background-size: cover !important;
        }

        .backImg3{
              background-image: url("~src/assets/svg/3.svg");
              background-repeat: no-repeat;
              background-size: cover !important;
        }
