<ion-content class="new-product-page">
  <ion-grid class="new-product-header">
    <ion-row class="header">
      <ion-icon (click)="goToHome()" name="arrow-back" class="backBtn-icon"></ion-icon>
      <ion-text class="title-text">New Product & Offers</ion-text>
    </ion-row>
    <ion-grid class="status-card">
      <ion-card class="card-section">
        <ion-row class="id-text">ID : 2344</ion-row>
        <ion-row >
          <img class="detail-img" src="../../../assets/images/food-details.jpg">
        </ion-row>
        <ion-row ><ion-col class="prod-name">Food</ion-col></ion-row>
        <ion-row class="lunching-date">
          <div class="lunch-text"> Lunching Date : 15th May</div>
        </ion-row>
        <ion-row class="desc">
          <div class="lunch-text">Description : </div>
          <div class="desc-text">
            This product is related to Masqati.
          </div>
        </ion-row>
      </ion-card>

    </ion-grid>

  </ion-grid>


</ion-content>
