<ion-content class="login-page">
  <!--  <ion-header class="ion-no-border">
      <ion-toolbar class="my-toolbar">
         <ion-buttons slot="start" (click)="returnDasbord()">
          <img src="../../assets/svg/back.svg" />
        </ion-buttons>
        <ion-title class="main-heading">Masqati Food Limited</ion-title>
      </ion-toolbar>
    </ion-header>-->
    <ion-content>
      <ion-grid class="">
        <ion-grid class="login-section ">
          <ion-row>
            <ion-col><div class="ion-text-end version-text">V.2.0.2</div></ion-col>
          </ion-row>
          </ion-grid>
        <ion-row class="vendor-logo ">
          <ion-col class="img-sec">
          <img src="../../assets/images/logo.png" class="logo" />
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col class="vendor-name">
          <ion-text>Masqati Food Limited - <br/> Merchant</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="login-form">
            <ion-text class="signin-text">Sign In</ion-text>
            <form [formGroup]="loginForm" (ngSubmit)="formSubmit()">
              <div class="login-form">
                <div class="login-items">
                  <ion-item lines="none">
                      <ion-icon class="user-icon" name="person" slot="start"></ion-icon>
                    <ion-input class="txtfont" formControlName="username" placeholder="User Name" [(ngModel)]="loginModel.username" type="text" required></ion-input>

                    <!-- <div *ngIf="submitted && f.email.errors" class="error-message">
                      <div *ngIf="f.email.errors.required">{{validationMsg.email}}</div>
                      <div *ngIf="f.email.errors.email">{{validationMsg.validEmail}}</div>
                    </div> -->
                  </ion-item>
                  <ion-item lines="none">
                    <ion-icon name="lock-closed" class="paswd-icon"></ion-icon>
                    <ion-input class="txtfont" formControlName="password" placeholder="Password" [(ngModel)]="loginModel.password" type="password"></ion-input>

                    <!-- <div><img  class="eye-imgs" src="assets/svg/eye.svg" (click)="showPwd()"></div> -->
                    <!-- <div *ngIf="submitted && f.password.errors" class="error-message">
                      <div *ngIf="f.password.errors.required">{{validationMsg.password}}</div>
                    </div> -->
                  </ion-item>
                  <ion-row lines="none" class="note-text">
                    <ion-col>
                      <div>Note: Only Register merchants can login </div>
                    </ion-col>
                  </ion-row>
                  <ion-row lines="none" class="change-pwd-text ">
                    <ion-col>
                    <div class="text-center">Request for password change?</div>
                    </ion-col>
                  </ion-row>
                  <ion-button class="login-btn" expand="block" type="submit" (click)="navigateToHome()">Log In
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ></span>
                  </ion-button>
                  <ion-row>
                    <ion-col></ion-col>
                    <ion-col><hr class="hr"></ion-col>
                    <ion-col></ion-col>
                  </ion-row>
                  <ion-row lines="none" class="masqati-merc">
                    <ion-col>
                      <div >Do you want to become a masqati merchant?</div>
                    </ion-col>
                  </ion-row>
                  <ion-button class="signup-btn" fill="outline"  type="submit" (click)="navigateToSignup()">Sign Up Now
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  </ion-button>

                  <div class="ion-text-center company-text">
                    <ion-text color="primary" ><span class="sub-text">2022 made with love <span class="love-symbol">&#10084;</span>
                      <br/> (Masqati Food Limited)</span>
                    </ion-text>
                  </div>
                </div>

              </div>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
</ion-content>
