<ion-content class="merchant-profile">
  <ion-grid>
    <ion-row>
      <ion-col class="merchant-header">
        <ion-text >Merchant Profile</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="user-image">
        <ion-grid class="user-circle">
          <div class="user-icon">
         <!-- <img src="../../assets/svg/user-img.svg"> -->
          </div>
          <div class="small-circle">
            <ion-icon name="camera-outline"></ion-icon>
          </div>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Merchant/company name:</ion-label>
        <ion-input placeholder="Name"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Owner name:</ion-label>
        <ion-input placeholder="Owner Name"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Phone Number:</ion-label>
        <ion-input type="number" placeholder="Phone Number"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Email:</ion-label>
        <ion-input type="number" placeholder="Email"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Date of starting:</ion-label>
        <ion-input type="number" placeholder="Email"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>GST Number:</ion-label>
        <ion-input type="number" placeholder="Email"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Group categories:</ion-label>
        <ion-input type="number" placeholder="Group categories"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Route Number:</ion-label>
        <ion-input type="number" placeholder="Route Number"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Area name:</ion-label>
        <ion-input type="number" placeholder="Area name"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Address:</ion-label>
        <ion-input type="number" placeholder="Address"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Store timing:</ion-label>
        <ion-input type="number" placeholder="Store timing"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Any remarks:</ion-label>
        <ion-input type="number" placeholder="Any remarks"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label class="sales-label">Sale Executive:</ion-label>
       <ion-text class="sales-name">Ramesh</ion-text>
      </ion-grid>
    </ion-row>
  </ion-grid>

  <ion-grid class="activities">
    <ion-row><ion-text>Activities</ion-text></ion-row>
  </ion-grid>
</ion-content>
