<ion-content class="merchant-profile">
  <ion-grid>
    <ion-row>
      <ion-col class="merchant-header">
        <ion-text >Merchant Profile</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="user-image">
        <ion-grid class="user-circle">
          <div class="user-icon">
         <!-- <img src="../../assets/svg/user-img.svg"> -->
          </div>
          <div class="small-circle">
            <ion-icon name="camera-outline"></ion-icon>
          </div>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Merchant/company name:</ion-label>
        <ion-input placeholder="Name"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Owner name:</ion-label>
        <ion-input placeholder="Owner Name"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Phone Number:</ion-label>
        <ion-input type="number" placeholder="Phone Number"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Email:</ion-label>
        <ion-input type="number" placeholder="Email"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Date of starting:</ion-label>
        <ion-input type="number" placeholder="Email"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>GST Number:</ion-label>
        <ion-input type="number" placeholder="Email"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Group categories:</ion-label>
        <ion-input type="number" placeholder="Group categories"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Route Number:</ion-label>
        <ion-input type="number" placeholder="Route Number"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Area name:</ion-label>
        <ion-input type="number" placeholder="Area name"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Address:</ion-label>
        <ion-input type="number" placeholder="Address"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Store timing:</ion-label>
        <ion-input type="number" placeholder="Store timing"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label>Any remarks:</ion-label>
        <ion-input type="number" placeholder="Any remarks"></ion-input>
      </ion-grid>
    </ion-row>
    <ion-row class="form-input">
      <ion-grid>
        <ion-label class="sales-label">Sale Executive:</ion-label>
       <ion-text class="sales-name">Ramesh</ion-text>
      </ion-grid>
    </ion-row>
  </ion-grid>

  <ion-grid class="activities">
    <ion-row>
      <ion-col class="text-center">
        <ion-text class="activities-text">Activities</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <img src="../../assets/svg/filter.svg"/>
      </ion-col>
      <ion-col size="8" class="text-center">
        <ion-text class="date-text">From 12/02/2022 to 15/02/2022</ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-text class="red-text"> Clear</ion-text>
      </ion-col>
    </ion-row>

    <ion-grid class="orders">
      <ion-row>
        <ion-col class="text-center order-head">ORDERS</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="label-text">Total No. of Orders</ion-col>
        <ion-col size="7"> 14</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="label-text"> Basic Amount : </ion-col>
        <ion-col size="7"> 60,561.00</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center last-order">(Last Order Date - 23/02/2022) 43 days Ago</ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col class="text-center order-head">Receipt</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="label-text"> Collected Amount : </ion-col>
        <ion-col size="7"> 60,000.00</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center last-order">(Last receipt Date - 23/02/2022) 43 days Ago</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="orders balance">
        <ion-row>
          <ion-col size="5" class="label-text">Any Discount</ion-col>
          <ion-col size="7"> 0</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="label-text">GST Amount</ion-col>
          <ion-col size="7"> 600000</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="label-text">Gross Amount</ion-col>
          <ion-col size="7"> 600000</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5" class="closing-text">Gross Amount</ion-col>
            <ion-col size="7" class="closing-value"> 600000</ion-col>
        </ion-row>

    </ion-grid>

  </ion-grid>
</ion-content>
