.my-toolbar{
    --background:  var(--ion-color-primary);
    --color:var(--ion-color-primary-contrast);
}

.hr {
  border-bottom: 1px solid #787878;
  margin: 10px 0;
  width: 100%;
}

.love-symbol{
  color: red;
}
