.circleBack{
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 0 !important;
    padding-top: 5px;
    background: #c3ac65;
    border-radius: 15px;
    color: white;
  }

  .rowAlign{
    margin: 12px;
  }
  .rounderCard{
    height: 50px;
    width: 50px;
    margin: 0 !important;
    background: #c3ac65;
    border-radius: 100%;
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 11px;

  }
  .darkTxt{
    color: black;
    font-size: 15px;
  }
  .lightTxt{
    color: darkgray;
    font-size: 14px;
  }
  .mainTxt{
    color: hsl(45, 84%, 40%);
    font-size: 17px;

  }
 
  .leftPadding{
    padding-left: 4px;
  }
  .mainCard{
    margin: 16px;
  }
  .fab-btn{
    --background:#072c92;
    --color:#ffff;
    margin: 12px;
   }
   .summeryBtn{
    --background:#072c92;
    --color:#ffff;
    margin: 12px;
    width: 150px;
   }
    .InstImg{
      height: 20px;
      width: 20px;
    }
    .navBtn-icon{
      color: white !important;
      font-size: 1.65rem;
    }
    .heardeView{
      height: 34px;
      background: #c3ac65;
      ion-label{
        color: white;
        margin: 5px 0px 0px 8px;
        font-size: 18px;
      }
    }

      .ImgSize{
        background: #d8d8d8;
        border-radius: 8px;
        height: 70px;
        width: 70px;
        margin:4px
      }
      .ImgSizeOrder{
        background: #d8d8d8;
        border-radius: 8px;
        height: 70px;
        width: 70px;
      }
      .smallTxt{
        font-size: smaller;
        color: black;
        margin: 4px 0px 0px 4px;;
      }
      .priceTxt{
        font-size: smaller;
        color: red;
     
      }
      // .add-prod{
      //   border: 1px solid #c6af67;
      //   font-size: 18px;
      //   ion-icon{
      //     color: #c6af67 !important;
    
      //     zoom:1.5
      //   }
    
      // }
      .addBtn{
        color: white;
        height: 32px;
        width: 70px;
      // background:  #c6af67 !important;
       --background:#c6af67 !important;

      }
      .count{
        ion-item {
          margin: 4px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
     //--min-height: 40px !important;
      // here other custom CSS from documentation
    }
    .rowAlign{
      margin: 8px;
    }
  }