.side-menu-app-drag {
    .sign-out-item {
      // float: right;
      color: var(--secondary-color);
      padding-top: 4px;

      ion-icon {
        color: var(--secondary-color);
      }

      ion-label {
        padding-left: 25px;
      }
    }

    .menu-item-img {
      padding-top: 40px;
    }
  }
  .menu-item-img {
    padding-top: 40px;
  }
  .imgSize{
    height: 25px;
    width: 25px;
  }
  
    .activities{
        font-size: 1.1rem;
        //font-weight: 700;
        color: black;
        padding-left: 8px;
    }
    .hrStly {
      background-color: var(--ion-input-border);
      margin-top: 0px;
    }
    .company-text{
      font-size: 12px;
    }
    .sub-text{
      color: #000000;
    }
    .love-symbol{
      color: red;
    }
   