
.navBtn-icon{
    color: white !important;
    font-size: 1.65rem;
  }
  
.fab-btn{
    --background:#072c92;
    --color:#ffff;
    margin: 12px;
   }
   .heardeSearch{
    height: 52px;
    background-color: #EBEFF3;
    margin: 0px 24px 0px 24px;
    border-radius: 8px;
  }
  .heardeRow{
    height: 52px;
    background-color: #EBEFF3;
    margin: 0px 0px 0px 0px;
    border-radius: 8px;
    padding-top: 12px;
  }
  .parchesLbl{
    padding-top: 12px;
    font-size: 16px;
    font-weight: bold;
  }
  .subHeader{
    color: black;
    margin: 8px 0px 0px 8px;
    font-size: 10px;
    font-weight: bold;
  }
  .subLbls{
    color: black;
    margin: 8px 0px 0px 8px;
    font-size: 12px;
    font-weight: bold;
  }
  .hrStly {
    background-color: #F5F6FA;
    margin-top: 0px;
  }