<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
  
      <ion-button (click)="goToHome()">
        <ion-icon name="arrow-back" class="navBtn-icon"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title style="color: white;">Products</ion-title>
    <ion-buttons slot="end">
      <ion-title style="color: white;">Web</ion-title>
      <ion-button>
        <ion-icon name="funnel" class="navBtn-icon"></ion-icon>
      </ion-button>
    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="mobileView">
  <ion-col size="12">
    <ion-row class="heardeSearch">
      <ion-icon name="search" class="searchIcon"></ion-icon>
      <ion-input></ion-input>
      <ion-icon name="options" class="searchIcon"></ion-icon>

    </ion-row>
  </ion-col>

<div *ngFor="let item of mainOrderData">
  <ion-row class="heardeView">
    <ion-label style="color: white; margin: 8px 0px 0px 6px;">Namken(12 items)</ion-label>
  </ion-row>
 
  <ion-list>
    <ion-card *ngFor="let item of subProductsList" class="row-margin mainCard">
      <!-- <ion-row class="ion-no-padding ion-no-margin">
        <ion-label class="smallTxt">ID:123</ion-label>
      </ion-row> -->
      <ion-row class="ion-no-padding ion-no-margin">

        <ion-col size="4" class="ion-no-padding ion-no-margin">
          <ion-card class="ImgSize">
            <img class="ImgSizeOrder" src="./../../assets/images/food.jpg"/> 
          </ion-card>
        
        </ion-col>
        <ion-col size="8">
          <ion-row class="rowAlign">
            <ion-label class="smallTxt">ID:123</ion-label>
          </ion-row>
          <ion-row class="rowAlign">
            <ion-label class="darkTxt"> Milk Chudwai</ion-label>
          </ion-row>
          <ion-row class="rowAlign">
          <ion-label class="lightTxt" style="font-size: smaller;"> Suman guntuka</ion-label>
          </ion-row>
          <ion-row class="rowAlign">
            <ion-label class="lightTxt">UNIT :</ion-label>
            <ion-label class="priceTxt leftPadding">120ML</ion-label>
          </ion-row>

          <ion-row class="rowAlign">
            <ion-col size="6" class="ion-no-padding ion-no-margin">
              <ion-label class="lightTxt">WP :</ion-label>
              <ion-label class="priceTxt leftPadding">1200</ion-label>
            </ion-col>
            <ion-col size="6" class="ion-no-padding ion-no-margin">
              <ion-label class="lightTxt">MRP :</ion-label>
              <ion-label class="priceTxt leftPadding">1250</ion-label>
            </ion-col>
          </ion-row>
  
        </ion-col>

      </ion-row>

    </ion-card>
  </ion-list>
</div>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-btn" (click)="bookOrder()">
      <ion-icon class="add-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


<!-- <ion-content>
  <ion-list *ngFor="let obj of mainProductsList" class="ion-no-padding ion-no-margin">
    <ion-row class="mainHeader">
<ion-label class="headerLbl"> Web</ion-label>
    </ion-row>
<ion-list *ngFor="let obj of subProductsList" class="ion-no-padding ion-no-margin">
  <ion-row class="mainTxt">
    <ion-col size="9">
<ion-label class="lightTxt"> #4 Static</ion-label><br />
<ion-label class="darkTxt">SP :</ion-label> <ion-label class="leftPadding spTxt">1455.0</ion-label> 
<ion-label class="darkTxt leftPadding">MRP :</ion-label> <ion-label class="leftPadding mainLblTxt">159.0</ion-label> 
    </ion-col>
    <ion-col size="3">
      <ion-label class="darkTxt">Unit</ion-label><br />
      <ion-label class="leftPadding mainLblTxt">10</ion-label>
    </ion-col>
  </ion-row>
</ion-list>

  </ion-list>
 
</ion-content> -->