.navBtn-icon{
    color: white !important;
    font-size: 1.65rem;
  }

  .mainHeader{
    background: rgb(61, 60, 60);
     height: 32px;
  }
  .headerLbl{
    margin: 4px 0px 0px 12px;
    // font-size: 1.2rem;
    color: hsl(49, 84%, 40%);
     font-size: 1.4em;
  }

  .darkTxt{
    color: black;
    font-size: 17px;
  }
  .lightTxt{
    color: darkgray;
    font-size: 16px;
  }
  .mainLblTxt{
    color: hsl(45, 84%, 40%);
    font-size: 17px;
  }
  .spTxt{
    color: red;
    font-size: 17px;
  }
  .leftPadding{
    padding-left: 4px;
  }
  .mainTxt{
    margin: 8px;
    margin: 4px 0px 0px 6px;
  }
  .ImgSize{
    background: #d8d8d8;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    margin:6px
  }
  .smallTxt{
    font-size: smaller;
    color: black;
    margin: 4px 0px 0px 4px;;
  }
  .priceTxt{
    font-size: smaller;
    color: red;
 
  }
  .add-prod{
    border: 1px solid #c6af67;
    font-size: 18px;
    ion-icon{
      color: #c6af67 !important;

      zoom:1.5
    }

  }
  .count{
    ion-item {
      margin: 4px;
  --padding-end: 0px;
  --inner-padding-end: 0px;
 --min-height: 30px !important;
  // here other custom CSS from documentation
}
  }
.rowAlign{
  margin: 12px;
}
.rowAlign{
  margin: 10px;
}
.fab-btn{
  --background:#bb931c;
  --color:#ffff;
 }
