.navBtn-icon{
    color: white !important;
    font-size: 1.65rem;
  }
  .heardeSearch{
    height: 52px;
    background-color: #EBEFF3;
    margin: 0px 32px 0px 32px;
    border-radius: 8px;
  }
  .searchIcon{
    margin: 16px;
    height: 20px;
    width: 20px;
  }
  .heardeView{
    height: 40px;
    background: #c3ac65;   
    ion-label{
      color: white;
      margin: 8px 0px 0px 8px;
      font-size: 18px;
    }
  }

  .mainHeader{
    background: rgb(61, 60, 60);
     height: 32px;
  }
  .headerLbl{
    margin: 4px 0px 0px 12px;
    // font-size: 1.2rem;
    color: hsl(49, 84%, 40%);
     font-size: 1.4em;
  }

  .darkTxt{
    color: black;
    font-size: 17px;
  }
  .lightTxt{
    color: darkgray;
    font-size: 14px;
  }
  .mainLblTxt{
    color: hsl(45, 84%, 40%);
    font-size: 17px;
  }
  .spTxt{
    color: red;
    font-size: 17px;
  }
  .leftPadding{
    padding-left: 4px;
  }
  .mainTxt{
    margin: 8px;
    margin: 4px 0px 0px 6px;
  }
  .ImgSize{
    background: #d8d8d8;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    margin:12px
  }
  .smallTxt{
    font-size: smaller;
    color: black;
    margin: 4px 0px 0px 4px;;
  }
  .priceTxt{
    font-size: smaller;
    color: red;
 
  }
  .add-prod{
    border: 1px solid #c6af67;
    font-size: 18px;
    ion-icon{
      color: #c6af67 !important;

      zoom:1.5
    }

  }
  .count{
    ion-item {
      margin: 4px;
  --padding-end: 0px;
  --inner-padding-end: 0px;
 --min-height: 30px !important;
  // here other custom CSS from documentation
}
  }
.rowAlign{
  margin: 4px;
}

.fab-btn{
  --background:#072c92;
  --color:#ffff;
  margin: 12px;
 }
