<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear">
        
        <img src="assets/svg/back.svg" (click)="backBtn()" />
      </ion-button>
    </ion-buttons>
    <ion-title > Merchant Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="login-page">
  <ion-col>
    <form [formGroup]="signUpForm" >
      <div class="login-form">
        <div>
          <ion-row class="instrLbl">
           <ion-label>
            Company Name
           </ion-label> 
          </ion-row>
          <ion-item lines="none">
            <ion-input class="txtfont" formControlName="companyName" placeholder="Company Name" [(ngModel)]="signUpModel.companyName" type="text" required></ion-input>
            <!-- <div *ngIf="submitted && f.email.errors" class="error-message">
              <div *ngIf="f.email.errors.required">{{validationMsg.email}}</div>
              <div *ngIf="f.email.errors.email">{{validationMsg.validEmail}}</div>
            </div> -->
          </ion-item>

          <ion-row class="instrLbl">
            <ion-label>
             Owner Name
            </ion-label> 
           </ion-row>

          <ion-item lines="none">
            <ion-input class="txtfont" formControlName="ownerName" placeholder="Owner Name" [(ngModel)]="signUpModel.ownerName" type="text"></ion-input>

            <!-- <div><img  class="eye-imgs" src="assets/svg/eye.svg" (click)="showPwd()"></div> -->
            <!-- <div *ngIf="submitted && f.password.errors" class="error-message">
              <div *ngIf="f.password.errors.required">{{validationMsg.password}}</div>
            </div> -->
          </ion-item>

          <ion-row class="instrLbl">
            <ion-label>
             Owner Number
            </ion-label> 
           </ion-row>

          <ion-item lines="none">
            <ion-input class="txtfont" formControlName="ownerNumber" placeholder="Owner Number" [(ngModel)]="signUpModel.ownerNumber" type="text"></ion-input>

            <!-- <div><img  class="eye-imgs" src="assets/svg/eye.svg" (click)="showPwd()"></div> -->
            <!-- <div *ngIf="submitted && f.password.errors" class="error-message">
              <div *ngIf="f.password.errors.required">{{validationMsg.password}}</div>
            </div> -->
          </ion-item>

          <ion-row class="instrLbl">
            <ion-label>
             Owner EmailId
            </ion-label> 
           </ion-row>

          <ion-item lines="none">
            <ion-input class="txtfont" formControlName="ownerEmailId" placeholder="Owner EmailId" [(ngModel)]="signUpModel.ownerEmailId" type="text"></ion-input>

            <!-- <div><img  class="eye-imgs" src="assets/svg/eye.svg" (click)="showPwd()"></div> -->
            <!-- <div *ngIf="submitted && f.password.errors" class="error-message">
              <div *ngIf="f.password.errors.required">{{validationMsg.password}}</div>
            </div> -->
          </ion-item>
        

          <ion-row class="instrLbl">
            <ion-label>
             Area Name
            </ion-label> 
           </ion-row>

          <ion-item lines="none">
            <ion-input class="txtfont" formControlName="areaName" placeholder="Area" [(ngModel)]="signUpModel.areaName" type="text"></ion-input>

            <!-- <div><img  class="eye-imgs" src="assets/svg/eye.svg" (click)="showPwd()"></div> -->
            <!-- <div *ngIf="submitted && f.password.errors" class="error-message">
              <div *ngIf="f.password.errors.required">{{validationMsg.password}}</div>
            </div> -->
          </ion-item>
        

          <ion-row class="instrLbl">
            <ion-label>
             Note
            </ion-label> 
           </ion-row>

          <ion-item lines="none">
            <ion-input class="txtfont" formControlName="ownerEmailId" placeholder="enter any note" [(ngModel)]="signUpModel.note" type="text"></ion-input>

            <!-- <div><img  class="eye-imgs" src="assets/svg/eye.svg" (click)="showPwd()"></div> -->
            <!-- <div *ngIf="submitted && f.password.errors" class="error-message">
              <div *ngIf="f.password.errors.required">{{validationMsg.password}}</div>
            </div> -->
          </ion-item>

          <ion-row class="change-pwd-text redInstTxt">
            <ion-label >
              After filling above form our Marketing executive will get in touch
              with you for getting register with our Masaqti food Limited
            </ion-label>
          </ion-row>

          <ion-button class="signup-btn" style="margin: 14px;" fill="outline"  type="submit" (click)="navigateToLoginup()">Submit
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </ion-button>
           
          <div class="ion-text-center">
           <ion-label>(or)</ion-label>
          </div>
         

           <div class="ion-text-center">
            <ion-label>
              Reach us at 1234567890
            </ion-label>
          </div>
        </div>

      </div>
    </form>
  </ion-col>
</ion-content>
