.login-page{
    .vendor-logo{
  
      .img-sec {
        text-align: center
      }
      .logo{
        height: 11rem;
      }
    }
    .login-section{
      margin-top: 10%;
    }
  
    .version-text{
      color: #9f9b9b;
    }
    .note-text{
      color: #9f9b9b;
      text-align: center;
    }
  
    .change-pwd-text{
      text-align: center;
      color: #ad3642;
      margin-bottom: 1rem;
    }
    .masqati-merc{
      text-align: center;
      color: #4836ad;
      margin-bottom: 1rem;
      font-size: 1rem;
    }
  
    .text-center{
      text-align: center;
    }
    .txtfont{
      font-size: 16px;
    }
    .signin-text{
      font-size: 1.6rem;
    }
    .vendor-name{
      font-size: 24px;
      color: #2d3975;
      font-weight: 600;
      text-align: center;
    }
    .sub-text{
      color: #000000;
    }
    .click-here{
      color: #C6AF67;
    }
  
    .login-form{
      text-align: center;
    }
  
    .login-btn{
      height: 50px;
      color:white;
      --background:#c6af67 ;
      --border-radius: 25px;
  
    }
  
    .signup-btn{
      height: 50px;
      width: 250px;
      color:#6025ce;
      font-weight: 600;
      --background:#f5f6fa ;
  
      --border-radius: 25px ;
      padding: 0 30px;
  
    }
  
    ion-input{
      border: 1px solid rgba(35, 38, 39, 0.568);
      border-radius: 22px;
      height: 50px;
      margin-top: 1rem;
     --padding-start: 10px;
     font-size: 25px;
    }
  
    .love-symbol{
      color: red;
    }
  
    .company-text{
      font-size: 12px;
    }
    .redInstTxt{
      margin: 16px 16px 0px 10px
    }
  }
  .instrLbl{
    margin: 12px 0px 0px 16px;
  }
  
  