<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
  
      <ion-button (click)="goToHome()">
        <ion-icon name="arrow-back" class="navBtn-icon"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title style="color: white;">Payments</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search" class="navBtn-icon"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="funnel" class="navBtn-icon"></ion-icon>
      </ion-button>

    
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="mobileView">
  <ion-row class="rowAlign">
    <ion-col size="6">
      <ion-label style="color: red; font-size: 1em;">Total Payment Amount</ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label class="darkTxt">10,8500</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="rowAlign">
    <ion-col size="4">
      <ion-grid>
        <ion-label>Added</ion-label>
        <ion-card class="rounderCard">
          <ion-label>9</ion-label>
        </ion-card>
      </ion-grid>
    </ion-col>
    <ion-col size="4">
      <ion-grid>
        <ion-label>Approved</ion-label>
        <ion-card class="rounderCard" style="background: green">
          <ion-label>9</ion-label>
        </ion-card>
      </ion-grid>
    </ion-col>
    <ion-col size="3">
      <ion-grid>
        <ion-label>Rejected</ion-label>
        <ion-card class="rounderCard" style="background: red">
          <ion-label>9</ion-label>
        </ion-card>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-card *ngFor="let item of paymentsData" class="row-margin mainCard">
      <ion-row class="row-margin">
        <ion-col size="6">
          <ion-label class="darkTxt">Payment ID :</ion-label>
          <ion-label class="mainTxt leftPadding">#032</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="darkTxt">Due Date :</ion-label>
          <ion-label class="lightTxt leftPadding">10-02-2022</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="row-margin">
        <ion-col size="12">
          <ion-label class="lightTxt">Received From :</ion-label>
          <ion-label class="mainTxt leftPadding">Masquati private limited</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="row-margin">
        <ion-col size="12">
          <ion-label class="lightTxt">Amount Collected :</ion-label>
          <ion-label class="mainTxt leftPadding">200.0</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="row-margin">
        <ion-col size="12">
          <ion-label class="lightTxt">Location :</ion-label>
          <ion-label class="mainTxt leftPadding">At Office, Hyderabad</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="row-margin">
        <ion-col size="12">
          <ion-label class="lightTxt">Status :</ion-label>
          <ion-label class="mainTxt leftPadding">Testing</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

</ion-content>