<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="goToOrderHistory()">
        <ion-icon name="arrow-back" class="navBtn-icon"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title style="color: white;">Order View</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="order-history-details-page">
  <ion-grid>
    <ion-row>
      <ion-col size="8" class="left-bar">
        <div>Order ID : 2511</div>
        <div>Invoice/bill : 665667</div>
        <div>Merchant organization : Masqati private limited</div>
        <div>owner name: Suman</div>
      </ion-col>
      <ion-col size="4" class="details-font">
        <div>14/02/2022 12:00 pm</div>
        <div class="pdf-icon"><ion-icon name="document"></ion-icon></div>
      </ion-col>
    </ion-row>
    <ion-row class="grid-header">
        <ion-col size="1.5" >Id</ion-col>
        <ion-col size="5">Particular</ion-col>
         <ion-col size="2.5">Quantity</ion-col>
        <ion-col size="3">Total Price</ion-col>
    </ion-row>
    <ion-row class="grid-content">
      <ion-col size="1.5" class="grey-text">2334</ion-col>
      <ion-col size="5">
        <div class="prod-name">Namkeen</div>
        <div class="black-large-text">Makai Chudwa</div>
        <div class="price-text">
          <ion-text>WP: <span class="red-text">251.4</span></ion-text>
          <ion-text class="float-right">MRP: <span class="red-text">21.4</span></ion-text>
        </div>
      </ion-col>
      <ion-col size="3" >
        <div class="prod-name">HSN:2343</div>
        <div>1.00</div>
        <div class="small-text">650ML</div>
      </ion-col>
      <ion-col size="2.5">
        <div class="float-right bold-text">140,0000</div><br/><br/>
        <div class="small-text float-right">250,00+10.2%</div>
      </ion-col>
    </ion-row>
    <ion-grid>
    <ion-row class="footer-table ion-margin">
      <ion-grid class="ion-margin">
        <ion-row>
          <ion-col>%</ion-col>
          <ion-col>CGST</ion-col>
          <ion-col>SGST</ion-col>
          <ion-col>IGST</ion-col>
        </ion-row>
        <ion-row >
          <ion-col>1</ion-col>
          <ion-col>3</ion-col>
          <ion-col>5</ion-col>
          <ion-col>23</ion-col>
        </ion-row>
      </ion-grid>

    </ion-row>
    </ion-grid>
  </ion-grid>

</ion-content>
