.navBtn-icon{
    color: white !important;
    font-size: 1.65rem;
  }
  .leftPadding{
    padding-left: 4px;
  }
  .searchIcon{
    height: 18px;
    width: 18px;
    padding: 2px;
  }
  .heardeView{
    height: 40px;
    background: #069fce;   
    ion-label{
      color: white;
      margin: 8px 0px 0px 8px;
      font-size: 18px;
    }
    justify-content: center;
  }
  .heardeView1{
    height: 40px;
    background: #9ccfe7;   
    ion-label{
      color: black;
      margin: 8px 0px 0px 8px;
      font-size: 10px;
      font-weight: bold;
    }
    justify-content: center;
  }
  
  