<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="goToHome()">
        <ion-icon name="arrow-back" class="navBtn-icon"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title style="color: white;">Accounts Ledger</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-col size="12">
    <ion-row style="padding: 12px">
      <ion-icon name="funnel" class="searchIcon"></ion-icon>
     <ion-grid>
       <ion-row style="font-size: small; padding-top: 0px; padding-left: 24px;">
         <ion-label class="leftPadding">From</ion-label>
         <ion-label class="leftPadding">12-09-20222</ion-label>
        <ion-label class="leftPadding">to</ion-label>
        <ion-label class="leftPadding">15-09-20222</ion-label>
      </ion-row>
    </ion-grid>
     <ion-label style="color: red;">CLEAR</ion-label>
    </ion-row>
  </ion-col>
  <ion-row style="font-size: 20px; font-weight: bold; justify-content: center;">   
      Merchant Company Name
  </ion-row>
  <ion-row style="font-size: 13px; justify-content: center; padding-top: 12px;">
    <ion-label>
      Opening Balance
    </ion-label>
    <ion-label style="padding-left: 12px;">
      2,300
    </ion-label>
</ion-row>

<ion-row class="heardeView" style="margin-top: 20px;">
  <ion-label style="color: white; font-size: 16px; font-weight: bold;">LEDGER OF FEB - 2022</ion-label>
</ion-row>
<ion-row class="heardeView1">
<ion-col size="2.4">
  <ion-label>
    Date&Time
  </ion-label>
</ion-col>
  <ion-col size="2.4">
    <ion-label>
      Desc
     </ion-label>
  </ion-col>
 <ion-col size="2.4">
  <ion-label>
    Debit
  </ion-label>
 </ion-col>
 <ion-col size="2.4">
  <ion-label>
    Credit
   </ion-label> 
 </ion-col>
 <ion-col size="2.4">
<ion-label>
  Balance
</ion-label>
 </ion-col>


</ion-row>

</ion-content>
