.dashboard-header{
  background-color: #c6af67;
  height: 30%;

  .header{
    margin-top: 3%;
    height: 60%;

    .dash-logo{
      text-align: center;
    }
    .logo{
      height: 142px;
    width: 175px;

    }
    .notification-icon{
      color: white !important;
      font-size: 2rem;
    }

   
    
  }

  .side-menu{
    height: 40px;
    width: 40px;
    margin-top: -104px;
    color: white;
    font-size: 2rem;
  }

  .white-text{
    color: white;
    height: 10%;
    padding-left: 2rem;
  }


  .status-card{
    width: 100%;

    .card-section{
      border-radius: 5px;

    }
    .card-content{
      margin: 10px;
      background: #d8d8d8;
      border-radius: 5px;
      height: 80px;
    }
  }



}
  .card-body{
    .activities{
        font-size: 1.1rem;
        //font-weight: 700;
        color: black;
        padding-left: 8px;
    }
    .product-cards{
      height: 56px;
      width: 56%;
      text-align: center;
      margin: 0 !important;
      padding-top: 5px;
      background: #c3ac65;
      border-radius: 15px;

    .logo{
      width: 36px;
      height: 36px;
      text-align: center;
      margin-top: 6px;

    }
    }
    .prod-name{
      //text-align: center;
      color: #b3b9c0;
      padding-top: 12px;
      font-size: 14px;
      
    }
  }
  .sub-headers{
    font-size: 1.1rem;
        //font-weight: 700;
        color: black;
        padding-left: 8px;
  }

  .fab-btn{
   --background:#ffff;
   --color:#6025ce
  }

  .add-icon{
    font-size: 40px;
  }
