<ion-content class="login-page">
  <ion-header class="ion-no-border">
    <ion-toolbar class="my-toolbar">
      <!-- <ion-buttons slot="start" (click)="returnDasbord()">
          <img src="../../assets/svg/back.svg" />
        </ion-buttons> -->
      <ion-title class="main-heading">Masqati Food Limited</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col class="text-center">
          <ion-text style="color:teal;">Lunching soon Masqati Food Limited App </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>

</ion-content>


