<ion-content class="dashboard-page">
<ion-grid class="dashboard-header">
  <ion-row class="header">
    <ion-col size="2">
      <ion-menu-button>
        <ion-icon class="side-menu" name="menu"></ion-icon>
    </ion-menu-button>
    </ion-col>
    <ion-col size="8" class="dash-logo">
        <img src="../../assets/images/logo.png" class="logo" />
    </ion-col>
    <ion-col size="2">
      <ion-icon name="notifications" class="notification-icon"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="white-text">
    <ion-text>Welcome, Masqati</ion-text>
  </div>
  <div class="white-text">
    <ion-text>Last order: 23/2/2022 - 3 days ago </ion-text>
  </div>
  <ion-grid class="status-card">
    <ion-card class="card-section">
      <ion-card-content class="card-content">
      </ion-card-content>
    </ion-card>

  </ion-grid>
  <!--- activities section-->
  <ion-grid class="card-body" >
    <div class="activities">Activities</div>
    <ion-grid style="padding-left: 42px">
      <ion-row>
        <ion-col size="4" *ngFor="let prod of productList" class="ion-align-items-center">
          <ion-card class="product-cards">
            <img src={{prod.img}} class="logo" />
          </ion-card>
          <div class="prod-name">{{prod.name}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
  <!--others section-->
  <ion-grid class="card-body">
    <div class="activities">Others</div>
    <ion-grid style="padding-left: 42px">
      <ion-row>
        <ion-col size="4" *ngFor="let prod of otherList">
          <ion-card class="product-cards">
            <img src={{prod.img}} class="logo" />
          </ion-card>
          <div class="prod-name">{{prod.name}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
  <!--communication-->
  <ion-grid class="card-body">
    <div class="sub-headers">Communication</div>
    <ion-grid style="padding-left: 42px">
      <ion-row>
        <ion-col size="4">
          <ion-card class="product-cards">
            <img src="../../assets/images/dashboard-icons/chat.png" class="logo" />
          </ion-card>
          <div class="prod-name">Chat With Admin</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-grid>

  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button class="fab-btn">
      <ion-icon class="add-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>


